@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Teacher: @ViewData["Teacher"]</p>

<address>
    <strong>More Information:</strong> <a href="http://http://educandoweb.com.br/">Educando Web</a>
</address>